In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

# assign the met database to a variable name
db = mongo['met']

# assign the collection to a variable
artifacts = db['artifacts']

In [3]:
# Write an aggregation query that counts the number of documents, grouped by "classification"
query = [{'$group': {'_id': "$classification", 'count': { '$sum': 1 }}}]

In [4]:
# Run the query with the aggregate method and save the results to a variable
results = list(artifacts.aggregate(query))

In [5]:
# Print the number of classifications in the result
print("Number of classifications in result: ", len(results))

Number of classifications in result:  64

In [6]:
# Print the first 10 results
pprint(results[0:10])

[{'_id': 'Bone/Ivory-Implements', 'count': 21},
 {'_id': 'Bark-Sculpture', 'count': 3},
 {'_id': 'Basketry-Sculpture', 'count': 1},
 {'_id': 'Stone-Containers', 'count': 5},
 {'_id': 'Textiles', 'count': 22},
 {'_id': 'Wood-Architectural', 'count': 11},
 {'_id': 'Ivory', 'count': 2},
 {'_id': 'Stone-Ornaments', 'count': 15},
 {'_id': 'Woodwork-Furniture', 'count': 1},
 {'_id': 'Metal-Sculpture', 'count': 18}]

In [7]:
# Convert mongo result to Pandas DataFrame
result_df = pd.DataFrame(results)

# Print out the length of the DataFrame
print("Rows in DataFrame: ", len(result_df))

# Display the first 10 rows of the DataFrame
result_df.head(10)

Rows in DataFrame:  64

                     _id  count
0  Bone/Ivory-Implements     21
1         Bark-Sculpture      3
2     Basketry-Sculpture      1
3       Stone-Containers      5
4               Textiles     22
5     Wood-Architectural     11
6                  Ivory      2
7        Stone-Ornaments     15
8     Woodwork-Furniture      1
9        Metal-Sculpture     18

Data Source: [The Metropolitan Museum of Art](https://www.metmuseum.org/) (2022). The Metropolitan Museum of Art Collection API https://metmuseum.github.io/. Licenced under the [Creative Commons 0 Licence](https://creativecommons.org/publicdomain/zero/1.0/).<br />
Accessed Oct 3, 2022. Data collected from departmentId=5 ("Arts of Africa, Oceania, and the Americas") and search string "animal".